@using SitecoreBlazorHosted.Shared.Models.Navigation
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Components


@inherits BaseComponent

@implements IDisposable


@inject Feature.Navigation.Repositories.NavigationRepository _navigationRepository
@inject IUriHelper _uriHelper;
@inject Foundation.BlazorExtensions.BlazorStateMachine _blazorStateMachine




@if (NavigationItems == null)
{
    <em>Loading...</em>

}
else
{

    <button class="navbar-toggler" @onclick=_blazorStateMachine.ToggleNavBar>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class=@(_blazorStateMachine.IsNavBarCollapsed ? "collapse navbar-collapse" : "navbar-collapse")>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item"></li>
            @foreach (var item in NavigationItems)
            {

                if (item.Children == null || !item.Children.Any())
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="@item.Url.AddBaseUrl(_uriHelper)" @onclick="_blazorStateMachine.ToggleNavBar" Match=NavLinkMatch.All>
                            @item.Item.Fields.PlainText("NavigationTitle").Value.HtmlDecode() @*<span class="sr-only">(current)</span>*@
                        </NavLink>
                    </li>
                }
                else
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbardrop" aria-haspopup="true" aria-expanded="@IsOpen" @onclick="ToggleSubMenu">
                            @item.Item.Fields.PlainText("NavigationTitle").Value.HtmlDecode()
                        </a>
                        <div class="@ClassName">

                            @foreach (var child in item.Children)
                            {
                                if (child == null)
                                {
                                    continue;
                                }

                                <NavLink class="dropdown-item" @onclick="_blazorStateMachine.ToggleNavBar" href="@child.Url.AddBaseUrl(_uriHelper)" Match=NavLinkMatch.All>@child.Item.Fields.PlainText("NavigationTitle").Value.HtmlDecode()</NavLink>

                            }

                        </div>
                    </li>

                }

            }

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <BlazorPlaceholder Name="navbar-activity-item">
                @ChildContent
            </BlazorPlaceholder>
        </ul>


    </div>

}





@code{

    List<NavigationItem> NavigationItems { get; set; }


    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        NavigationItems = await _navigationRepository.GetMenu();
    }


    string ClassName
    {
        get
        {
            var open = IsOpen ? "show" : null;
            return $"dropdown-menu {open}";
        }
    }

    bool IsOpen { get; set; }
    void ToggleSubMenu(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }


    private void OnLocationChanges(object sender, LocationChangedEventArgs args) => IsOpen = false;


    protected override void OnInitialized()
    {
        _uriHelper.OnLocationChanged += OnLocationChanges;
    }


    public void Dispose()
    {
        _uriHelper.OnLocationChanged -= OnLocationChanges;
    }

}
