@using SitecoreBlazorHosted.Shared.Models.Navigation
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Foundation.BlazorExtensions.Extensions
@using Microsoft.JSInterop

@inject Feature.Navigation.Repositories.NavigationRepository _navigationRepository
@inject Microsoft.AspNetCore.Components.Services.IUriHelper _uriHelper;
@inject IJSRuntime _jsRuntimeCurrent;

@implements IDisposable

@if (NavigationItems == null)
{
    <em>Loading...</em>

}
else
{

    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class=@(_collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse") onclick=@ToggleNavMenu>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item"></li>
            @foreach (var item in NavigationItems)
            {

                if (item.Children == null || !item.Children.Any())
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="@item.Url.WithBaseUrl_UglyHackForGithub(_uriHelper)" Match=NavLinkMatch.All>
                            @item.Item.Fields.PlainText("NavigationTitle").Value.HtmlDecode() @*<span class="sr-only">(current)</span>*@
                        </NavLink>
                    </li>
                }
                else
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbardrop" aria-haspopup="true" aria-expanded="@IsOpen" onclick="@Onclick">
                            @item.Item.Fields.PlainText("NavigationTitle").Value.HtmlDecode()
                        </a>
                        <div class="@ClassName">

                            @foreach (var child in item.Children)
                            {
                                if (child == null)
                                {
                                    continue;
                                }

                                <NavLink class="dropdown-item" href="@child.Url.WithBaseUrl_UglyHackForGithub(_uriHelper)" Match=NavLinkMatch.All>@child.Item.Fields.PlainText("NavigationTitle").Value.HtmlDecode()</NavLink>

                            }

                        </div>
                    </li>

                }

            }



        </ul>


    </div>
}





@functions {



    List<NavigationItem> NavigationItems { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        NavigationItems = await _navigationRepository.GetMenu(_jsRuntimeCurrent);
    }

    bool _collapseNavMenu = true;

    void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }



    string ClassName
    {
        get
        {
            var open = IsOpen ? "show" : null;
            return $"dropdown-menu {open}";
        }
    }

    bool IsOpen { get; set; }
    void Onclick(UIMouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }


    private void OnLocationChanges(object sender, string location) => IsOpen = false;

    protected override void OnInit()
    {
        _uriHelper.OnLocationChanged += OnLocationChanges;
    }

    public void Dispose()
    {
        _uriHelper.OnLocationChanged -= OnLocationChanges;
    }

}
