@using Foundation.BlazorExtensions.Components
@using Foundation.BlazorExtensions.Extensions
@using Microsoft.AspNetCore.Components

@inherits BaseComponent


<div class="jumbotron banner" style="background-image: url('@FieldsModel.Image("BannerImage").Value.Src');">


    <img class="logo-image" alt="@FieldsModel.Image("HeaderImage")?.Value.Alt" src="@FieldsModel.Image("HeaderImage").Value.Src">



</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>@FieldsModel.PlainText("Title")?.Value.Html()</h2>
            @((MarkupString)FieldsModel.HtmlText("Text")?.Value.Html())

           @FieldsModel.Checkbox("ShowInNavigation")?.Value

         
        </div>
    </div>
</div>




